.details {
  display: flex;
  background-color: white;
  /* background-color: rgba(255, 255, 255, 0.397); */
  max-height: 1500px;
  padding: 20px;
  text-align: center;
  flex-direction: column;
  color: rgba(84, 82, 82, 0.651);
}
.weddingInfo {
  max-height: 400px;
  padding: 50px;
  padding-bottom: 30px;
  background-color: #939499d2;
  color: white;
}

.program {
  max-height: 700px;
  padding: 50px;
  padding-bottom: 30px;
  flex-direction: column;
  flex-wrap: wrap;
}

.weddingProgramDet {
  column-count: 2;
}

p {
  padding: 0;
}

h3.celebrationWeddingDetails {
  padding-bottom: 50px;
}

.detailsH2 {
  padding: 30px 50px 50px 50px;
  margin: 0;
}

@media only screen and (max-width: 991px) {
  .details {
    padding: 25px 25px 5px 25px;
  }
  .detailsH2 {
    padding: 0 0 25px 0;
  }
  .weddingInfo {
    padding: 25px 25px 5px 25px;
  }
  .program {
    padding: 25px 0 0 0;
  }
  h3.celebrationWeddingDetails {
    padding-bottom: 25px;
  }
}

@media only screen and (max-width: 575px) {
  .weddingProgramDet {
    column-count: 1;
  }
}
