.weddingAnnouncement {
  max-height: 1000px;
  display: flex;
  background-color: white;
  margin: 0;
}

.weddingAnnouncementPicture {
  max-height: 800px;
  max-width: 80%;
  position: relative;
  margin-inline: auto;
  object-fit: cover;
  padding: 50px;
}

@media only screen and (max-width: 1199px) {
  .weddingAnnouncementPicture {
    max-height: 800px;
  }
}

@media only screen and (max-width: 991px) {
  .weddingAnnouncementPicture {
    max-height: 700px;
    max-width: 90%;
    padding: 25px;
  }
}

@media only screen and (max-width: 575px) {
  .weddingAnnouncementPicture {
    max-height: 600px;
    max-width: 90%;
    padding: 25px;
  }
}
