* {
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: inherit;
}

.previewPage {
  margin: 50px auto;
  box-shadow: 0 0 7px rgba(128, 128, 128, 0.651);
  max-width: 1400px;
}
/* 
p {
  color: rgba(84, 82, 82, 0.651);
} */
