.footer {
  /* max-width: 1400px; */
  max-height: 80px;
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #939499;
  background-size: 100%;
  background-position: top;
  margin: 0;
  padding: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.footerP {
  color: #fae1de;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

@media only screen and (max-width: 991px) {
  .footerP {
    padding: 0;
  }
}

@media only screen and (max-width: 575px) {
  .footerP {
    font-size: 12px;
  }
}
