.lastCall {
  /* max-width: 1400px; */
  height: 300px;
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: white;

  background-size: 100%;
  background-position: top;
  margin: 0;
  padding: 0 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #4e4f52;
}
