.editPage {
  margin: 3rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px #aab5b0;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}
body {
  justify-content: center;
  align-items: center;
}
.containerEditpage {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
