.editPage {
  margin: 3rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px #aab5b0;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}
body {
  justify-content: center;
  align-items: center;
}
.containerEditpage {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input7 {
  width: 10rem;
  height: 2rem;
  margin: 0.5rem;
  border-color: #aab5b0;
  border-width: 1px;
  color: rgba(84, 82, 82, 0.651);
}
