.entice {
  /* max-width: 1400px; */
  max-height: 1000px;
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: white;
  margin: 0;
  padding: 50px;
  color: #939499;
  justify-content: space-between;
}

.enticeText {
  max-width: 60%;
  flex-direction: column;
  text-align: left;
  padding-right: 50px;
}

.enticeImg {
  height: 400px;
  max-width: 40%;
  position: relative;
  object-fit: cover;
}

h2.enticeText {
  margin: 0;
}
.enticeTextP {
  margin-top: 100px;
}

@media only screen and (max-width: 991px) {
  .entice {
    padding: 25px;
  }
  .enticeTextP {
    margin-top: 25px;
  }

  .enticeImg {
    height: 250px;
    max-width: 50%;
  }

  .enticeText {
    padding-right: 25px;
  }
}

@media only screen and (max-width: 575px) {
  .entice {
    flex-direction: column;
    max-height: 1000px;
  }

  .enticeText {
    max-width: 100%;
    padding: 0;
  }

  .enticeImg {
    height: auto;
    max-width: 100%;
    padding-top: 25px;
  }
}
