.formStep3 {
  margin-top: 5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px #aab5b0;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
}
.container3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.weddingFood {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.inputs1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.inputs2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.inputs3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.popis {
  margin: 2rem;
}
@media (max-width: 672px) {
  .weddingFood {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
