.header {
  max-width: 1400px;
  height: 80px;
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  padding: 0 20px;
}

.link,
.buttonStart {
  background-color: white;
  color: #aab5b0;
  border: 3px solid #aab5b0;
  /* box-shadow: 0 0 7px rgba(128, 128, 128, 0.651); */
  border-radius: 30px;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 590;
  margin: 18px;
  width: 120px;
}

.link:hover,
.link:focus {
  background-color: #fae1de;
  color: #939499;
}

.buttonStart {
  background-color: #aab5b0;
  color: white;
}

h1 {
  color: #aab5b0;
  font-size: 40px;
  margin-top: 17px;
}
