.header {
  /* max-width: 1400px; */
  height: 80px;
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  padding: 0 50px;
}

.link,
.buttonStart {
  background-color: white;
  color: #aab5b0;
  border: 3px solid #aab5b0;
  border-radius: 30px;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: auto 0;
  width: 90px;
}

.link:hover,
.link:focus {
  background-color: #fae1de;
  color: #939499;
}

.buttonStart {
  background-color: #aab5b0;
  color: white;
}

.links {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: #aab5b0;
  font-size: 50px;
  margin: auto;
  margin-left: 0;
}

@media only screen and (max-width: 1199px) {
  .links {
    width: 35%;
  }
}

@media only screen and (max-width: 991px) {
  .header {
    padding: 0 25px;
  }
  .links {
    width: 45%;
  }
  h1 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 751px) {
  .header {
    padding: 0 25px;
  }
  .links {
    width: 55%;
  }
  h1 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 575px) {
  .header {
    flex-direction: column;
    height: 150px;
    padding: 25px;
  }
  .links {
    padding-top: 25px;
    width: 100%;
  }
  h1 {
    margin: auto;
  }
}
