.menu {
  display: flex;
  background-image: url('img/food.jpg');
  background-size: cover;
  max-height: 1500px;
  padding: 50px;
  text-align: center;
  flex-direction: column;
  color: rgba(84, 82, 82, 0.651);
}

.menuBG {
  background-color: rgba(255, 255, 255, 0.911);
  padding: 50px 0 30px 0;
}

h3.foodDetails {
  margin-bottom: 50px;
}

.heartSymb {
  color: #fae1de;
}

@media only screen and (max-width: 991px) {
  .menu {
    padding: 25px;
  }
  .menuBG {
    padding: 25px 25px 5px 25px;
  }
  h3.foodDetails {
    margin-bottom: 25px;
  }
}
