.finalPage {
  margin: 3rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
  max-height: 25rem;
  box-shadow: 2px 2px 5px #aab5b0;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
.final {
  text-align: center;
}
.finalNazov {
  margin-bottom: 2rem;
}
@media (max-width: 700px) {
  .finalPage {
    max-width: 30rem;
    padding: 6rem;
  }
}
@media (max-width: 550px) {
  .finalPage {
    max-width: 25rem;
    padding: 3rem;
  }
}
