.finalPage {
  margin-top: 3rem;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 25rem;
  box-shadow: 2px 2px 5px #aab5b0;
  padding: 10rem;
}
