.finalPage {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('img/pozadi.jpg');
  opacity: 0.7;
  margin: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.nalepka {
  margin: 3rem;
  background-color: #e9dddc;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px #aab5b0;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
@media (max-width: 700px) {
  .nalepka {
    max-width: 30rem;
    padding: 6rem;
  }
}
@media (max-width: 550px) {
  .nalepka {
    max-width: 25rem;
    padding: 3rem;
  }
}
