.formStep4 {
  margin-top: 3rem;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500rem;
  box-shadow: 2px 2px 5px #aab5b0;
  padding: 5rem;
  flex-wrap: wrap;
}
.newlyweds {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin-right: 9rem;
}
.mladomanzelia {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
h2 {
  margin: 20px;
}
p {
  margin-bottom: 20px;
}
.input2 {
  color: transparent;
  margin-top: 18px;
  margin-left: 20px;
}
.input2::-webkit-file-upload-button {
  visibility: hidden;
}
.input2::before {
  content: 'Nahraj súbor';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;

  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.input2:hover::before {
  border-color: black;
}
.input2:active {
  outline: 0;
}
.input2 :active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
