.formStep2 {
  margin-top: 3rem;
  padding-top: 3rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px #aab5b0;
  padding-bottom: 2rem;
  padding-left: 1rem;
}
.weddingPlace {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 2rem;
}
.weddingProgram {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.input {
  margin-right: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.container2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popis {
  margin-bottom: 2rem;
}

@media (max-width: 928px) {
  .weddingPlace {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 1.6rem;
  }
  .weddingProgram {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 1.6rem;
  }
}

@media (max-width: 576px) {
  .weddingPlace {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  .weddingProgram {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
}
