.formStep2 {
  margin-top: 3rem;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500rem;
  box-shadow: 2px 2px 5px #aab5b0;
  padding-right: 5rem;
}
.weddingPlace {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 2rem;
}
.weddingProgram {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.input {
  margin-right: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.container2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 518px;
  margin: 3rem;
}
@media (max-width: 768px) {
  .input {
    margin: 0.3rem;
    margin-left: 0.8rem;
  }
}
@media (max-width: 576px) {
  .weddingPlace {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  .weddingProgram {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  .input {
    margin: 1rem;
  }
}
