/* barvy dle palety: #fae1de, #e8b7b5, #939499, #aab5b0, #c7d1c9, #e3e3dc 

@media (max-width: 1199px) and (min-width: 992px)
@media (max-width: 991px) and (min-width: 576px) 
@media (max-width: 575px) and (min-width: 360px) 
@media (max-width: 359px)
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: inherit;
}

html {
  font-family: 'Raleway', sans-serif;
  /* color: rgba(84, 82, 82, 0.651); */
  background-color: #c7d1c983;
  max-height: 100%;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 27px;
}

p {
  margin: 0;
  font-size: 25px;
}

li {
  font-size: 25px;
}

button {
  background-color: #aab5b0;
  color: white;
  border: 3px solid #aab5b0;
  border-radius: 30px;
  padding: 8px 20px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 590;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 18px;
  width: 200px;
  cursor: pointer;
}
button:hover,
button:focus {
  background-color: #fae1de;
  color: #939499;
}

.landingPage {
  margin: 50px auto;
  box-shadow: 0 0 7px rgba(128, 128, 128, 0.651);
  max-width: 1400px;
}

h2,
h3 {
  margin-top: 0;
}

.input {
  width: 10rem;
  height: 2rem;
  margin: 0.5rem;
  border-color: #aab5b0;
  border-width: 1px;
  color: rgba(84, 82, 82, 0.651);
}

@media only screen and (max-width: 1199px) {
  .landingPage {
    max-width: 1149px;
  }
  h2 {
    font-size: 25px;
  }

  p {
    font-size: 19px;
  }

  li {
    font-size: 19px;
  }
}

@media only screen and (max-width: 991px) {
  .landingPage {
    max-width: 941px;
  }

  h2 {
    font-size: 22px;
  }

  p {
    font-size: 17px;
  }

  li {
    font-size: 17px;
  }
}

@media only screen and (max-width: 575px) {
  .landingPage {
    max-width: 525px;
  }
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}
