.reference {
  /* max-width: 1400px; */
  min-height: 300px;
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #c7d1c9;
  margin: 0;
  padding: 50px;
  color: #4e4f52;
  text-align: center;
}

.allReferences {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.reference1,
.reference2 {
  width: 47%;
  display: flex;
  text-align: left;
}

.avatar {
  max-height: 120px;
  max-width: 120px;
  border-radius: 100%;
  align-items: right;
  margin-bottom: 30px;
}

.name {
  text-align: right;
  margin-top: 15px;
  padding-right: 20px;
  font-style: italic;
}

.message {
  padding-right: 30px;
  padding-top: 5px;
}

.quoMarks {
  max-height: 20px;
  padding-right: 3px;
  padding-bottom: 5px;
}

.referenceH2 {
  margin: 0;
}

@media only screen and (max-width: 991px) {
  .reference {
    padding: 25px;
  }
  .quoMarks {
    max-height: 15px;
  }
  .reference1,
  .reference2 {
    flex-direction: column;
  }
  .avatar {
    order: 0;
    margin-bottom: 20px;
    margin-inline: auto;
  }
  .referenceText {
    order: 1;
  }
  p.message {
    padding-right: 0;
  }
  .allReferences {
    padding-top: 25px;
  }
}

@media only screen and (max-width: 575px) {
  .allReferences {
    flex-direction: column;
  }
  p.message {
    text-align: left;
  }

  .reference1,
  .reference2 {
    width: 100%;
    padding-bottom: 25px;
  }
}
