.prevFooter {
  /* max-width: 1400px; */
  height: 80px;
  margin: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #939499;
  background-size: 100%;
  background-position: top;
  margin: 0;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.prevFooterP {
  color: #fae1de;
  font-size: 15px;
  padding: 0 50px;
  margin: 0;
}

@media only screen and (max-width: 991px) {
  .prevFooterP {
    padding: 0 25px;
  }
}

@media only screen and (max-width: 575px) {
  .prevFooterP {
    font-size: 12px;
  }
}
